body {
    margin: 0;
  background-color: rgb(226, 201, 118);
    display: flex;
    justify-content: center;
    align-items: center;
}
  title{
  color: #ee9696;
  font-size: 3em;
}

p{
  width: 50%;
  font-size: 1.05em;
  line-height: 1.25em;
  }
img{
  width: 300px;
  position: relative;
}