body {
    margin: 0;
  background-color: rgb(226, 201, 118);
    align-items: center;
    justify-content: center;
}
  h1{
  color: #000000;
  font-size: 3em;
  font-family: 'CabinetGrotesk-Bold';
  }

p{
  width: 50%;
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: 'CabinetGrotesk-Regular';
}

nav{
  font-size: 1em;
  font-family: 'CabinetGrotesk-Light';
}

  img{
  width: 30%
}