body {
    margin: 0;
  background-color: rgb(226, 201, 118);
    align-items: center;
    justify-content: center;
}
  h1{
  color: #ee9696;
  font-size: 3em;
  font-family: 'CabinetGrotesk-Bold';
    src: url('../fonts/CabinetGrotesk-Bold.woff2') format('woff2'),
         url('../fonts/CabinetGrotesk-Bold.woff') format('woff'),
         url('../fonts/CabinetGrotesk-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }

p{
  width: 50%;
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: 'CabinetGrotesk-Regular';
  src: url('../fonts/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Regular.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

nav{
  font-size: 1em;
  font-family: 'CabinetGrotesk-Light';
  src: url('../fonts/CabinetGrotesk-Light.woff2') format('woff2'),
       url('../fonts/CabinetGrotesk-Light.woff') format('woff'),
       url('../fonts/CabinetGrotesk-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}

  img{
  width: 30%
}